.side {
	background-color: rgb(61, 79, 93);
	position: fixed;
	top: 0;
	bottom: 0;
	color: #ffffff;
}

.lang-list {
	list-style: none;
	padding-left: 0;
	margin-left: 17px;
}

.lang-list li {
	display: inline-block;
}

.lang-list li a {
	background-color: rgb(61, 79, 93);
	font-size: 0.8em;
}

.header {
	margin: 80% 2em 0;
	text-align: right;
}

.header h1 {
	margin: 0;
}

.header h1 a {
	text-decoration: none;
	color: #ffffff;
}

.header h2 {
	color: rgb(176, 202, 219);
	font-weight: 300;
	margin: 0;
}

.article, .content {
	margin-left: 25%;
	padding: 2em 3em 2em;
	color: #111111;
}

.article h2 {
	font-size: 2em;
	margin-bottom: 0;
}

.article p {
	line-height: 1.8em;
	margin-bottom: 0;
}

.content img {
	display: block;
	margin: 0 auto;
}

.content p {
	line-height: 1.8em;
}

pre.code {
	background-color:BLACK;
	font-family:courier, serif;
	font-size:10px;
	font-style:normal;
	margin:10px;
	padding:0px
}
